body, div, input {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Roboto, arial, sans-serif;
}

.login-container {
    display: flex;           
    justify-content: center; 
    align-items: center;   
    background-image: url(./media/chess.jpg);
    height: 100vh;
}

.login-box {
    width: 350px;
    height: 200px;
    padding: 10px;
    border: 1px solid red;
}

.login-input {
    height: 35px;
    width: 100%;
}

.login-button {
    margin-top: 10px;
    height: 35px;
    width: 100%;
    background-color: rgb(17, 155, 113);
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    letter-spacing: 1px;
    outline: 0;
}

.login-button:hover {
    background-color: rgb(16, 138, 101);
}